*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shaered style */

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.color-orenge{
  color:#FD6E0A;
}

.color-black{
  color: #181818;
}

.btn{
  border: none;
  background-color: #FD6E0A;
  color: #FFF8F3;
  font-weight: bold;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 5px;
}
.section-heading{
  margin: 0 auto;
  max-width: 827px;
   text-align: center;
}
.section-heading h1{
  font-size: 35px;
  margin-bottom: 30px;
  color: #181818;

}

.section-heading p{
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
/* ============================= */

header{
  padding-top: 65px;
  background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
  background-repeat: no-repeat, no-repeat;
  background-position: left, right bottom;
}
nav{
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo{
  width: 220px;
  color: #181818;
}
nav .logo span{
  color: #FD6E0A;
}
nav .menu {
  list-style: none;
  display: flex;
  gap: 51px;
  align-items: center;
}
nav .menu li a{
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner{
  margin: 46px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content{
  max-width: 585px;
}
#banner h2{
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
#banner h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#banner p{
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px
}
#banner .banner-image img{
  width: 584px;
  vertical-align: middle;
}
#about{
  padding-top: 130px;
}


#about .about-conteiner{
  width: 71%;
  max-width: 1140px;
  background-color: #FFF8F3;
  padding: 135px 156px;
  text-align: center;
  margin: 0 auto;
}

#about .about-conteiner .about-info{
  display: flex;
  justify-content: space-around;
}
#about .about-conteiner .about-info .info-card p{
  color: #757575;
  font-size: 20px;
  line-height: 30px;
}
#about .about-conteiner .about-info .info-card h4{
  font-size: 20px;
  line-height: 30px;
  color: #181818;
}
#skills{
  padding-top:130px;
 
}

#skills .skills-conteiner{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skills .skills-conteiner .skill-box{
  display: flex;
  gap: 24px;
}

#skills .skills-conteiner .skill-box .skill-card{
  max-width: 267;
  padding: 30px;
  box-shadow: 0px 6px 50px 0px #00000012;
}

#skills .skills-conteiner .skill-box .skill-card img{
  width: 44px;
  margin-bottom: 30px;
}
#skills .skills-conteiner .skill-box .skill-card h3{
  font-size: 20px;
  margin-bottom: 20px;
  color: #181818;
}
#skills .skills-conteiner .skill-box .skill-card p{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

#resume{
  padding-top:130px;
}
#resume .resume-conteiner{
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}
#resume .resume-conteiner .title{
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
#resume .resume-conteiner .info-card{
  margin-right: 71px;
}
#resume .resume-conteiner .info-title{
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}

#resume .resume-conteiner .info-subtitle{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

#resume .resume-conteiner p{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 30px;
}

#resume .resume-conteiner hr{
  margin-bottom: 30px;
  border: none;
  height: 1px;
  background-color: #d6d6d6;
}